  #preloader{
    position: relative;
  }
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .loading_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  .loading_content h1{
    color: white;
    font-size: 24px;
  }
  .loading_content .scripts:after, .loading_content .model:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: red;
    transform-origin: bottom left;
    animation: mymove 16s 1;
  }
  .loading_content .model:after{
    animation: mymove 10s 1;
  }
  
  @keyframes mymove {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
  }