@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
  background-color: #000;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  height: 100vh;
}



/* Main_PAGE starts */
.main_page{
  width: 80%;
  position: relative;
  overflow-x: hidden;
  color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 90%;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(152,151,166,0.5) 0%, rgba(176,176,196,0.5) 53%, rgba(94,139,149,0.5) 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
}
.logo_image {
  width: 50%;
  grid-row-start: 1;
  margin: 10px 0 0 10px;
}
.about_title {
  font-size: 48px;
  font-weight: 800;
  justify-self: center;
  grid-column-start: 2;
  grid-row-start: 1;
}
.description {
  width: 90%;
  text-align: justify;
  place-self: center;
  grid-column-start: 1;
  margin-bottom: 10px;
  grid-row-start: 3;
}
.middle-main_page {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.right-main_page {
  grid-column-start: 3;
  grid-row-start: 3;
}
.graph_title {
  font-size: 22px;
  font-weight: 700;
}
.graph_description {
  justify-self: center;
  grid-row-start: 1;
  grid-column-start: 3;
  margin: 20px 20px 0 0;
  text-align: justify;
  width: 90%;
}
/* Main_PAGE ends */

.model_div {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 100%;
}

.graph_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  height: 100%;
}

/* Chart starts */
.graph_outer_container {
  height: 100%;
}

.component{
  margin-right: 20px;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.bigComponent{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  scale: 1;
  cursor: pointer;
  z-index: 120;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.nomodal {
  position: absolute;
  transform: translate(-70%, 30%);
  scale: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.line_container {
  width: 70%;
  height: max-content;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

/* .overlap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 0;
}
.overlay {
  display: none;
} */

.bigComponent .Line {
  z-index: 3;
  background-color: white;
}
.dropdown {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
  color:aqua
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 220px;
}

.search-inner {
  display: flex;
}


.component .Line {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
  height: 100%;
}

/* Chart ends */

.home_page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100vh;
  /* transform: translate(0%,10%); */
  z-index: 100;
}

/* Close Button  */
.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Close Button Ends */
@media only screen and (min-width: 1140px) {  
  .main_page {
    grid-template-columns: repeat(2,1fr) 30vw;
    font-size: larger;
  }
  .graph_description {
    margin: 0;
    grid-row-start: 3;
    grid-column-start: 1;
    /* grid-column-end: 3;
    width: 70%;
    justify-self: flex-start; */
    /* grid-row-end: 3; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }
  .description {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media only screen and (max-width:1140px) {
  .main_page {
    grid-template-columns: repeat(3,1fr);
  }
  .logo_image {
    display: none;
  }
  .about_title {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .component {
    height: auto;
    width: 35vw;
  }
  .description {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
    margin-left: 20px;
    justify-self: start;
  }
  .graph_description {
    width: 100%;
  }
}
@media only screen and (max-width:950px) {
  .main_page{
    width: 90%;
  }
}
@media only screen and (max-width:900px) {
  .main_page {
    grid-template-rows: 20vh 65vh max-content repeat(3, 1fr);
    width: 70%;
    /* color: #000; */
    font-weight: 600;
  }
  .middle-main_page {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    align-self: flex-start;
  }
  .model_div {
    width: 80%;
    margin: 0;
    position: relative;
  }
  .about_title {
    margin-left: 20px;
    justify-self: start;
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .description {
    margin: 0;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 70%;
    justify-self: center;
  }
  .graph_outer_container {
    position: relative;
  }
  .line_container {
    width: 100%;
  }
  .graph_description {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    margin: 0;
    margin-bottom: 20px;
    width: 70%;
  }
  .graph_container {
    align-items: center;
  }
  .component {
    margin: 0;
    position: static;
    width: 70%;
  }
  .bigComponent {
    top: unset;
    bottom: 100%;
  }
  .right-main_page {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
  }
}
@media only screen and (max-width:630px) {
  .main_page {
    grid-template-rows: 15vh 70vh max-content repeat(3, 1fr);
    width: 80%;
    background: linear-gradient(30deg, rgba(39, 39, 40, 0.5) 0%, rgba(96, 96, 101, 0.5) 53%, rgba(39, 41, 42, 0.5) 100%);
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(2px);
  }
  .middle-main_page {
    height: 80%;
  }
  .model_div {
    width: 90%;
    top: -5vh;
  }
  .description {
    width: 80%;
  }
  .graph_description {
    width: 80%;
  }
  .component {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:530px) {
  .main_page {
    width: 100%;
    height: 100%;
    bottom: -5%;
    padding-bottom: 20%;
    /* transform: translateY(100%); */
    grid-template-rows: 25vh 50vh 10vh repeat(3, 1fr);
  }
  .main_page .setIsActive {
    transition: ease-in-out;
    transform: translateY(0);
  }
  .logo_image {
    display: block;
    width: 100%;
    margin: 0;
  }
  .model_div {
    width: 100%;
  }
  .about_title {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
  }
  .middle-main_page {
    justify-self: center;
  }
  .description {
    align-self: flex-end;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
    font-size: 13px;
  }
  .graph_description {
    width: 90%;
    font-size: 13px;
  }
  .component {
    width: 100%;
  }
  .bigComponent {
    left: 0;
    height: 100vh;
    width: 94vw;
    overflow-x: scroll;
    border-radius: 0;
    bottom: 0;
    /* transform: rotate(90deg); */
  }
  .right-main_page {
    margin: 0;
  }
  .line_container {
    position: absolute;
    left: 0;
    width: 500px;
    margin-right: 20px;
  }
}


.home_button h1, .canvas_button h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
.home_button{
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.home_button:hover{
  transform: translate(0px, -4px); 
}
